page-login {
    .content {
        background-image: url('../assets/imgs/4272.jpg');
        background-position: 100%;
        background-repeat: no-repeat;
        
        .scroll-content {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            ion-card {
                position: relative;
            }
        }
    }
}
