<ion-content no-padding>
  <ion-card col-sm-6>
    <ion-card-content>
      <form [formGroup]="fromLogin" (ngSubmit)="submitForm()">
        <ion-list no-lines>
          <ion-item>
            <ion-label>E-mail</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Senha</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-item>
            <button [disabled]="!fromLogin.valid" ion-button large block color="priamry-color" type="submit">Entrar</button>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>