<ion-header>
  <ion-navbar color="primary-color">
    <ion-title>Fechamento</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <h1 padding>Valor Total: {{ pedido.valor | currency:'BRL':true:'1.2-2' }}</h1>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formFechamento" (ngSubmit)="formSend()">
        <ion-list no-margin>
          <ion-item>
            <ion-label>Forma de Pagamento</ion-label>
            <ion-select formControlName="forma_pagamento">
              <ion-option value="1">Dinheiro</ion-option>
              <ion-option value="2">Cartão de Crédito</ion-option>
              <ion-option value="3">Cartão de Débito</ion-option>
              <ion-option value="4">Cartão de Vaucher</ion-option>
              <ion-option value="5">Cortesia</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Valor pago</ion-label>
            <ion-input formControlName="pago" (keyup)="dinheiro()"></ion-input>
          </ion-item>
          <ion-item>
            <button type="submit" [disabled]="!formFechamento.valid" ion-button large block>Pagar</button>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
