
<ion-header>
  <ion-navbar color="primary-color">
    <ion-title>Categorias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
    <ion-grid *ngIf="showCategoria; else load">
        <ion-row no-padding>
          <ion-col col-6 col-sm-6 col-md-4 (click)="openMenu(categoria)" *ngFor="let categoria of categorias | async">
            <ion-card no-margin>
              <ion-card-content>
                <h2>{{categoria.nome}}</h2>
                <img src="{{categoria.foto}}">
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ng-template #load>
        <div id="load">
          <ion-spinner name="dots"></ion-spinner>
        </div>
      </ng-template>
</ion-content>
