page-categoria {
    ion-card {
        width: 100% !important;

        ion-card-content {
            position: relative !important;
            padding: 0 !important;

            h2 {
                font-size: 2.5rem !important;
                margin: 0 auto !important;
                width: 100% !important;
                height: 100% !important;
                position: absolute !important;
                color: #ffffff !important;
                align-items: center !important;
                justify-content: center !important;
                display: flex !important;
            }
        }
    }

    div#load {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        ion-spinner {
            width: 150px;
            height: 150px;

            & * {
                width: 150px;
                height: 150px;
                stroke: $primary-color;
                fill: $primary-color-dark;
            }

            & svg:first-child {
                left: 35px !important;
            }

            & svg:last-child {
                left: -35px !important;
            }
        }
        
    }
}
