<ion-slides pager effect="flip" loop="true" parallax="true">
  
    <ion-slide id="slide-1">
      <h1>Restaurante</h1>
      <p>Nós amamos comida, muita comida diferente, assim como você.</p>
    </ion-slide>
  
    <ion-slide id="slide-2">
      <h1>Café</h1>
      <p>Traga para casa o café que eles servem no premiado restaurante.</p>
      <div>
        <button (click)="openLogin()" ion-button color="light" large outline>Iniciar</button>
      </div>
    </ion-slide>
  </ion-slides>