page-splash {

    ion-slide {
        h1,
        p {
            color: #ffffff;
            text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
        }

        h1 {
            font-family: 'Lobster', cursive;
            font-size: 5rem;
            font-weight: 400;
        }

        
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: 150%;
        
        &#slide-1 {
            background-image: url('../assets/imgs/intro_bg1.jpg');
        }
        
        &#slide-2 {
            background-image: url('../assets/imgs/intro_bg2.jpg');

           div {
               div {
                    position: absolute;
                    bottom: 10%;
                    width: 100%;

                    .button-effect {
                        background-color: transparent;
                    }
               }
           }
        }

    }

   
}
