page-home {
    .content {
        background-color: #f1f1f1;

        #slide {
            ion-slide {
                position: relative;
                h2 {
                    position: absolute;
                    margin: 0 auto;
                    width: 100%;
                    height: 99%;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    color: #ffffff;
                    font-family: 'Lobster', cursive;
                    background-color: rgba(0, 0, 0, .5);
                    font-size: 5rem;
                    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1)
                }

                img {
                    width: 100%;
                }
            }

            .swiper-pagination-bullet {
                background-color: #ffffff;
                
                &.swiper-pagination-bullet-active {
                    background-color: #ffffff;
                }
            }
        }

        ion-card {
            width: 100%;

            ion-card-content {
                position: relative;
                padding: 0;
                height: 195px;
                
                h2 {
                    font-size: 2.5rem;
                    margin: 0 auto;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    /*color: $primary-text-color;*/
                    align-items: center;
                    justify-content: center;
                    display: flex;
                }
            }
        }
    }
}
