<ion-header>
  <ion-navbar color="primary-color">
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Principal
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="loadMesas()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <!--div id="slide">
    <ion-slides pager loop="true">
      <ion-slide>
        <h2>Salada</h2>
        <img src="assets/imgs/slide/489.jpg">
      </ion-slide>
      <ion-slide>
        <h2>Frango</h2>
        <img src="assets/imgs/slide/OH3BY70.jpg">
      </ion-slide>
      <ion-slide>
        <h2>Churrasco</h2>
        <img src="assets/imgs/slide/6899.jpg">
      </ion-slide>
    </ion-slides>
  </div-->

  <ion-grid>
    <ion-row no-padding>
      <ion-col col-6 col-sm-6 col-md-4 (click)="openMenu(mesa)" *ngFor="let mesa of mesas | async">
        <ion-card no-margin [color]="mesa.disponivel ? 'green-color' : 'red-color'">
          <ion-card-content>
            <h2>Mesa {{mesa.numero}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>