<ion-header>
  <ion-navbar color="primary-color">
    <ion-title>Lista de Carrinho</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <button ion-item *ngFor="let mesa of mesas | async" (click)="itemSelected(mesa)">
          Mesa {{ mesa.numero }}
        </button>  
      </ion-list>
</ion-content>
