page-pedido-controller {
    .content {
        background-color: #f1f1f1;
        
        ion-note {
            p {
                color: $accent-color !important;
            }
        }
    }
}
