<ion-header>

  <ion-navbar color="primary-color">
    <ion-title>Controle de pedidos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="more($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <h2 padding>
    Status: {{tipoStatus()}}
  </h2>
  <ion-card *ngFor="let pedido of pedidos">
    <ion-card-content>
      Nº {{ pedido.id }}

      <button (click)="itemSelected($event, pedido)" ion-button icon-only float-right clear color="primary-text-color">
        <ion-icon name="more"></ion-icon>
      </button>
      <ion-note float-right>
        {{ pedido.created_at | date:'dd/MM/yyyy HH:mm:ss'}}
        <br />
        <p float-right>{{ pedido.valor | currency:'BRL':true:'1.2-2'}}</p>
      </ion-note>
    </ion-card-content>
  </ion-card>
</ion-content>