// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.content {
    background-color: #f1f1f1;
}

ion-menu {
    ion-header {
        background-image: url('../assets/imgs/OG9KNW0.jpg');
        background-position: 100% 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        
        ion-avatar {
            padding: 45px;
            img {
                width: 35%;
                border-radius: 50%;
                margin: 0 auto;
                box-shadow: 0 0 15px rgba(0, 0, 0, 1)
            }
        }
    }
    
    .content {
        background-color: #ffffff;
    }
}