<ion-menu [content]="content">
    <ion-header>
        <ion-avatar>
            <img src="assets/imgs/logo.png" alt="">
        </ion-avatar>
    </ion-header>
    <ion-content>
        <ion-list no-lines>
            <ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon item-start [name]="p.icon"></ion-icon>
                {{p.title}}
            </ion-item>
            <ion-list-header>
                Outros
            </ion-list-header>
            <ion-item menuClose *ngFor="let p of pagesOld" (click)="openPageOld(p)">
                <ion-icon item-start [name]="p.icon"></ion-icon>
                {{p.title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>