page-detalhe-produto {
    ion-header {
        ion-navbar {
            .toolbar-background {
                background-color: transparent !important;
            }

            .toolbar-title {
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
            }
            
            ion-icon {
                color: #ffffff;

                &::before {
                    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
                }
            }
        }
        
        &::after {
            position: relative !important;
        }
    }
        .content {
            .scroll-content {
                margin: 0px !important;
                #header {
                    position: relative;

                    #info {
                        position: absolute;
                        bottom: 0px;
                        left: 15px;
                        color: #ffffff;
                        text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    
                        h3 {
                            color: $accent-color;
                            margin-top: 0;
                        }

                        h2 {
                            margin-bottom: 0;
                            text-transform: uppercase;
                            font-weight: 100;
                        }
                    }
                }
            }
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }
}
