<ion-header>
  <ion-navbar color="primary-color">
    <ion-buttons end>
      <button ion-button icon-only clear (click)="addFavorito()">
        <ion-icon name="star"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <div id="header">
    <img src="{{produto.foto}}">
    <div padding id="info">
      <h2>{{produto.nome}}</h2>
      <h3>{{produto.valor | currency:'BRL':true:'1.2-2'}}</h3>
    </div>
  </div>
  <p padding text-justify>{{produto.descricao}}</p>
  <form [formGroup]="formCarrinho" (ngSubmit)="onSubmit()">
    <ion-list padding>
      <ion-item>
        <ion-label>Adicionais</ion-label>
        <ion-select formControlName="complemento" [selectOptions]="selectOptions" multiple="true">
          <ion-option *ngFor="let complemento of complementos" value="{{complemento.complemento.id}}">
            {{complemento.complemento.nome}} - {{complemento.complemento.valor | currency:'BRL':true:'1.2-2'}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Quantidade</ion-label>
        <ion-input formControlName="quantidade" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Observação</ion-label>
        <ion-textarea formControlName="observacao" rows="5"></ion-textarea>
      </ion-item>
      <button ion-button block large type="submit">{{isTitle()}}</button>
    </ion-list>
  </form>
</ion-content>