<ion-header>
  <ion-navbar color="primary-color">
    <ion-title>Favoritos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let favorito of (favoritos | async)?.data">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="favorito.produto.thumb">
        </ion-avatar>
        <h2>{{favorito.produto.nome}}</h2>
        <p>{{favorito.produto.descricao}}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="remove(favorito)">
          <ion-icon name="trash"></ion-icon>
          Remover
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>