<ion-header>
  <ion-navbar color="primary-color">
    <ion-title>Detalhe de Pedido</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-card>
    <ion-card-content>
      <ion-list no-margin>
        <ion-item>
          <ion-note float-right></ion-note>
          <h2>Pedido da mesa {{((pedidoTotal)?.mesa)?.numero}}</h2>
          <p><strong>Horário:</strong> {{(pedidoTotal)?.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</p>
          <p><strong>Nome do atendente:</strong> {{((pedidoTotal)?.user)?.nome}}</p>
          <p><strong>Valor total do pedido:</strong> {{(pedidoTotal)?.valor | currency:'BRL':true:'1.2-2'}}</p>
          <p><strong>Valor pago:</strong> {{(pedidoTotal)?.pago | currency:'BRL':true:'1.2-2'}}</p>
          <p><strong>Status do pedido:</strong> {{((pedidoTotal)?.status == 1) ? 'Aberto' : ((pedidoTotal)?.status == 2) ? 'Concluido' : 'Fechado'}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list no-margin>
        <ion-item *ngFor="let item of (items | async)?.produtos">
          <h2>{{item.produto.nome}}</h2>
          <p>{{item.produto.valor | currency:'BRL':true:'1.2-2'}}x{{item.quantidade}}</p>
          <p><strong>Observação:</strong> {{item.observacao}}</p>
        </ion-item>
        <ion-list-header>
          TAXAS
        </ion-list-header>
        <ion-item *ngFor="let taxa of (items | async)?.taxas">
          <h2>{{taxa.taxa.descricao}}</h2>
          <p>{{taxa.valor | currency:'BRL':true:'1.2-2'}}x{{taxa.quantidade}}</p>
          <p><strong>Observação:</strong> {{taxa.observacao}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="((pedidoTotal)?.status == 1)">
    <ion-card-content>
      <h2>Controler</h2>
      <button ion-button icon-left large color="green-color" (click)="pagar()">
        <ion-icon name="cash"></ion-icon>
        Pagar
      </button>
      <button ion-button icon-left large color="blue-color" (click)="mover()">
        <ion-icon name="share-alt"></ion-icon>
        Mover
      </button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="((pedidoTotal)?.status == 2)">
    <ion-card-content>
      <h2>Controler</h2>
      <button ion-button icon-left large color="green-color" (click)="pagar()">
        <ion-icon name="cash"></ion-icon>
        Pagar
      </button>
      <button ion-button icon-left large color="blue-color" (click)="open()">
        <ion-icon name="share-alt"></ion-icon>
        Abrir
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>