<ion-header>
  <ion-navbar color="primary-color">
    <ion-title>Mesa {{mesa.numero}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="loadCarrinho()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngFor="let c of carrinhos | async">
    <ion-card-content>
      <ion-item>
        <ion-avatar item-start *ngIf="c.produto.thumb">
          <img src="{{c.produto.thumb}}">
        </ion-avatar>
        <h2>{{c.produto.nome}}</h2>
        <p>{{c.produto.descricao}}</p>
        <p>{{(c.produto.valor + c.valor_adicional) | currency:'BRL':true:'1.2-2'}}x{{c.quantidade}}</p>
        <br />
        <p *ngIf="c.observacao" text-wrap><strong>Observação: </strong>{{c.observacao}}</p>
        <div item-end *ngIf="c.produto.thumb">
          <button ion-button icon-only color="primary-text-color" clear (click)="more($event, c)">
            <ion-icon name="more"></ion-icon>
          </button>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalhe do pedido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <h2>Valor total do pedido: {{total | currency:'BRL':true:'1.2-2'}}</h2>
        <h3>Mesa: {{mesa.numero}}</h3>

        <div *ngIf="(mesa.id == undefined)">
          <ion-list>
            <ion-item>
              <ion-label>Selecione a mesa </ion-label>
              <ion-select [(ngModel)]="mesa.id">
                <ion-option value="1">Mesa 1</ion-option>
                <ion-option value="2">Mesa 2</ion-option>
                <ion-option value="3">Mesa 3</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
    </ion-card-content>
  </ion-card>
  <button [disabled]="disabledButton" ion-button large no-margin col-6 float-left color="green-color" (click)="sendPedido()">Enviar pedido</button>
  <button ion-button large no-margin col-6 float-left (click)="openMenu()">Menu</button>
</ion-content>