<ion-header>
  <ion-navbar color="primary-color">
    <ion-title>{{categoria.nome}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item (click)="openProduto(produto)" *ngFor="let produto of (produtos | async)?.data">
      <ion-avatar item-start>
        <img src="{{produto.thumb}}">
      </ion-avatar>
      <h2>{{produto.nome}}</h2>
      <p>{{produto.descricao}}</p>
    </ion-item>
  </ion-list>
</ion-content>
